<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>La Liga</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>


        {% if user %}
            {% if user.estilo == 0 %}
                <link id="estilo" rel='stylesheet' href='/stylesheets/iaw-p0.css'/>
                {% else %}
                <link id="estilo" rel='stylesheet' href='/stylesheets/iaw-p0-est2.css'/>
            {% endif %}
        {% else %}
        <link id="estilo" rel='stylesheet' href='/stylesheets/iaw-p0.css'/>
        {% endif %}

    </head>

    {% block body %}{% endblock %}
    </body>
    <footer class="container py-5 text-dark">
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright: Iván Petrini - Federico Schmidt
        </div>
    </footer>

    
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>    
    <script src='/javascripts/youtube.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
    {% block scripts %}{% endblock %}
</html>
